@model SpeedHero.Web.InputModels.Posts.CreatePostInputModel

@{
    ViewBag.Title = "Create Post";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    
    @Html.LabelFor(p => p.Title) <br />
    @Html.EditorFor(p => p.Title) <br /> <br />
    @Html.EditorFor(p => p.Content) <br />
    
    @*<label for="file">Upload Cover Image:</label>
    <input type="file" name="file" id="file" />
    <br />*@
    <br />
    <input type="submit" value="Create" />
}

