@model SpeedHero.Web.ViewModels.Home.PostViewModel

@{
    ViewBag.Title = "Create Post";
}

<h2>Create Post</h2>

@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(p => p.Title) <br />
    @Html.EditorFor(p => p.Title)
    @Html.ValidationMessageFor(p => p.Title)
    <br />
    <br />
    <label for="file">Upload Cover Image:</label>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Create" />
    <br />
    @Html.ValidationSummary()
}

