@model SpeedHero.Web.ViewModels.Posts.ShowPostViewModel

@{
    ViewBag.Title = "Show Post";
}

<h2>@Model.Title</h2>

<div>by @Html.DisplayFor(p => p.Author.UserName)</div>
<div>@Html.DisplayFor(p => p.CreatedOn) - @Model.Comments.Count Comments</div>
<div>@Html.Raw(Model.Content)</div>

@foreach (var comment in Model.Comments)
{
    <div>@comment.Content</div>
}

