@model SpeedHero.Web.ViewModels.Posts.ShowPostViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right text-primary">
        by @Html.DisplayFor(p => p.Author.UserName)
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right text-primary">
        @Html.DisplayFor(p => p.CreatedOn) - @Model.Comments.Count Comments
    </div>
</div>
<div class="row post-content">
    <div class="col-md-12">
        @Html.Raw(Model.Content)
    </div>
</div>

@section styles{
    @Styles.Render("~/Content/kendo")
}

@section scripts{
    @Scripts.Render("~/bundles/kendo")
}

@Html.Partial("_CreateCommentPartialView", new SpeedHero.Web.InputModels.Comments.CreateCommentInputModel { PostId = Model.Id })

@*@using AutoMapper.QueryableExtensions
@Html.Partial("_ShowCommentsPartialView")*@

@*the loading must be done with AJAX as well*@
@foreach (var comment in Model.Comments.OrderByDescending(c => c.CreatedOn))
{
    <div class="row well">
        @comment.Author.UserName
        @comment.CreatedOn
        <div>@Html.Raw(comment.Content)</div>
    </div>
}