@model SpeedHero.Web.ViewModels.Posts.ShowPostViewModel

@{
    ViewBag.Title = Model.Title;
}

@if (TempData["SuccessfullNewPost"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@TempData["SuccessfullNewPost"]</strong>
            </div>
        </div>
    </div>
}

<div class="row">
    <img src="@Model.CoverPhotoPath" class="img-responsive">
</div>
<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right text-primary">
        by @Html.DisplayFor(p => p.Author.UserName)
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right text-primary">
        @Html.DisplayFor(p => p.CreatedOn) - @Model.Comments.Count Comments
    </div>
</div>
<div class="row margin-15 content">
    <div class="col-md-12">
        @Html.Raw(Model.Content)
    </div>
</div>

@section styles{
    @Styles.Render("~/Content/kendo")
}

@section scripts{
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/jqueryForm")
}

<div id="comments-section">
    @Html.Action("CreateComment", "Comment", new { postId = Model.Id })
</div>