@using SpeedHero.Common
@using SpeedHero.Web.Helpers
@model SpeedHero.Web.ViewModels.Posts.ShowPostViewModel

@{
    ViewBag.Title = Model.Title;
}

@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="row margin-15">
        <div class="col-sm-6">
            @Html.ActionLink(
                "Details", 
                "Details", 
                "Posts", 
                new { area = WebConstants.AdministrationAreaName, id = Model.Id }, 
                new { @class = "btn btn-default btn-block" })
        </div>
        <div class="col-sm-6 padding-left-0">
            @Html.ActionLink(
                "Edit",
                "Edit",
                "Posts",
                new { area = WebConstants.AdministrationAreaName, id = Model.Id, returnUrl = @Url.RouteUrl("Show post", new { id = Model.Id }) },
                new { @class = "btn btn-default btn-block" })
        </div>
    </div>
}

@if (TempData["SuccessfullNewPost"] != null)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@TempData["SuccessfullNewPost"]</strong>
            </div>
        </div>
    </div>
}

<div class="row">
    <img src="@Model.CoverPhotoPath" class="img-responsive center-block">
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>@Model.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right text-primary">
        by @Html.DisplayFor(p => p.AuthorName)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right text-primary">
        @Html.DisplayFor(p => p.CreatedOn) - @Model.NumberOfComments
        @{
            if (Model.NumberOfComments == 1)
            {
                @:Comment
            }
            else
            {
                @:Comments
            }
        }
    </div>
</div>
<div class="row margin-15 content">
    <div class="col-sm-12">
        @Html.Raw(Model.Content)
    </div>
</div>

<div id="comments-section">
    @Html.Action("CreateComment", "Comment", new { postId = Model.Id })
</div>

@section styles{
    @Styles.Render("~/Content/kendo")
}

@section scripts{
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryAjax")
    @*@Scripts.Render("~/bundles/jqueryForm")*@
}

<script>
    $('.content img').addClass('center-block max-width-90').removeAttr('style width');
</script>