@model SpeedHero.Web.ViewModels.Home.PostViewModel

@{
    ViewBag.Title = "ShowPost";
}

<h2>@Model.Title</h2>
<div>by @Model.Author.UserName</div>
<div>@Model.CreatedOn - @Model.Comments.Count Comments</div>
<div>@Model.Content</div>

@foreach (var comment in Model.Comments)
{
    <div>@comment.Content</div>
}

@foreach (var picture in @Model.Pictures)
{
	<div>
        <img src="@picture.Path" />
    </div>	 
}

