@model IEnumerable<SpeedHero.Web.ViewModels.Home.IndexViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var post in Model)
    {
        @*if (@post.Pictures.FirstOrDefault().Path != null)
        {
            <a href="~/Post/ShowPost/@post.Id">
                <img src="@post.Pictures.FirstOrDefault().Path" width="220" />
            </a>
        }*@

        <a href="~/Post/ShowPost/@post.Id"><h3>@post.Title</h3></a>

        <div>@post.CreatedOn - @post.Comments.Count Comments</div>
    }
</div>