@using SpeedHero.Web.Helpers
@model SpeedHero.Web.Areas.Administration.ViewModels.Posts.PostDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3 class="text-center">@Html.DisplayFor(p => p.Title)</h3>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(p => p.Id)</dt>
    <dd>@Html.DisplayFor(p => p.Id)</dd>
    <dt>@Html.DisplayNameFor(p => p.Title)</dt>
    <dd>@Html.DisplayFor(p => p.Title)</dd>
    <dt>@Html.DisplayNameFor(p => p.AuthorName)</dt>
    <dd>@Html.DisplayFor(p => p.AuthorName)</dd>
    <dt>@Html.DisplayNameFor(p => p.CoverPhotoPath)</dt>
    <dd>@Html.DisplayFor(p => p.CoverPhotoPath)</dd>
    <dt>Cover photo</dt>
    <dd><img src="@Model.CoverPhotoPath" /></dd>
    <dt>@Html.DisplayNameFor(p => p.Content)</dt>
    <dd>@Html.Raw(Model.Content)</dd>
</dl>

<div class="row margin-bottom-15">
    <div class="col-sm-3">
        @Html.ActionLink("Back", "Index", "Posts", new { area = Constants.AdministrationAreaName }, new { @class = "btn btn-default btn-block" })
    </div>
    <div class="col-sm-3 padding-left-0">
        @Html.ActionLink("Edit",
        "Edit",
        "Posts",
        new { area = Constants.AdministrationAreaName, id = Model.Id, returnUrl = @Url.Action("Details", "Posts", new { area = Constants.AdministrationAreaName, id = Model.Id }) },
        new { @class = "btn btn-primary btn-block" })
    </div>
</div>

<script>
    $('.container img').addClass('img-responsive center-block').removeAttr('style width');
</script>