@model IEnumerable<SpeedHero.Web.Areas.Administration.ViewModels.Comments.ShowCommentsViewModel>

<div class="text-center text-size-30 text-color-white">Comments (@Model.Count())</div>

<div class="row margin-15">
    <div class="col-sm-12">
        @foreach (var comment in Model)
        {
            <div class="row">
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt class="text-primary">@Html.DisplayNameFor(c => c.FirstOrDefault().Id)</dt>
                        <dd>@comment.Id</dd>
                        <dt class="text-primary">@Html.DisplayNameFor(c => c.FirstOrDefault().AuthorName)</dt>
                        <dd>@comment.AuthorName</dd>
                        <dt class="text-primary">@Html.DisplayNameFor(c => c.FirstOrDefault().CreatedOn)</dt>
                        <dd>@comment.CreatedOn</dd>
                        <dt class="text-primary">@Html.DisplayNameFor(c => c.FirstOrDefault().ModifiedOn)</dt>
                        <dd>@comment.ModifiedOn</dd>
                        <dt class="text-primary">@Html.DisplayNameFor(c => c.FirstOrDefault().Content)</dt>
                        <dd>@Html.Raw(comment.Content)</dd>
                    </dl>
                </div>
                <div class="col-sm-1 padding-left-0">
                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-primary btn-block" })
                </div>
                <div class="col-sm-1 padding-left-0">
                    @using (Html.BeginForm("Delete", "Comments", new { id = comment.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                    }
                </div>
            </div>
        }
    </div>
</div>